<div style="width:800px;padding:1px;border:1px solid #999;">
    <div style="background:url(http://member.com/images/style1/bg_span_00.gif); padding:10px;">
        <div style="background:url(http://member.com/images/style1/bg_span_01.gif); padding:3px;border:1px solid #222;"><img src="http://member.com/images/style1/logo_02.gif"/></div>
        <div style="background:url(http://member.com/images/style1/bg_span_01.gif); padding:20px 30px 30px 30px; border:1px solid #222; margin-top:5px; color:#999; line-height:30px; font-size:14px; font-family:'Courier New', Courier, monospace">
            <div>尊敬的刘大伟：</div>
            <div style="margin-left:30px">您好！</div>
            <div>恭喜您</div>
            <div><br/>此致！</div>
            <div>IHbet 客服部 </div>
        </div>
        <div style="text-align:center; margin-top:5px; color:#444; line-height:30px; font-size:14px">
		此为系统邮件，请勿回复. 请保管好您的邮箱賬戶, 避免IHbet账户被他人盗用 
        </div>
    </div>
</div>
