.section-sub{
    padding:20px 0;
}

.section-sub{
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;

   display: -webkit-flex;
   display: flex;

   -webkit-box-align: center;
   -moz-box-align: center;
   -ms-box-align: center;
   box-align: center;

   -webkit-align-items:center;
   align-items: center;

}


.desc {
    margin-top:20px;
}

.glyphicon-home{
    color:#F17170;
}


textarea.textarea{
	height:200px;
	resize:none;
	margin-top:10px;
}
.form_btn{
	margin-top:10px;
	margin-right:15px;
}
.name,.tell{margin-top:10px;}
.border-top{border-top:2px solid #4FA4FF;}
.contact_us_bg{padding-left:0;}
.contact_us_yj{padding-bottom:30px;}
.tell-way{margin:0;left:17.5%;top:19%;color:#fff;}
.success-icon,.fail-icon{font-size: 40px;color:#5CB85C;}
.success-title,.fail-title{font-size:20px;}
.fail-icon{color:#D9534F;}


.case_box{padding-top:30px;padding-bottom:30px;}
.case_box img{margin-top:30px;}

.case_icon_box{margin-bottom:60px;}
.case_icon_box span{font-size:40px;}
.case_icon_box .media-body{width:auto;}
.case_icon_box .sub{float:left;position:relative;left:50%;}
.case_icon_box .media{position: relative;left:-50%;}
.case_icon_box .row>div{
	overflow: hidden;
	margin-top:30px;
}
.case_icon_box .media-left{
     padding-right:0px; 
}