@media (min-width: 768px){
    
    .zixun dl{
        margin-top: 36%;
    }
    .release dl{
        margin-top:42%;
    }
    .search_box{
        margin-top:20%;
        z-index: 6;
        position:relative;
    }
}
@media (max-width: 767px) {
    dl,.search_box{
        text-align: center;}
    .zixun dl{
        margin-top: 30px;
    }
    .search_box{
        margin:20px auto;
    }
}
.introduce,.ws{padding-top:30px;padding-bottom:60px;}
.ws{background-color:#1074C3;padding-top:60px;}
.release{padding-top:60px;padding-bottom:60px;}
.introduce img{margin-top:30px;}
.text-desc{
    font-size:22px;
    color:#323232;
    margin-top: 48px;
}
.text-desc-english{
    font-size:18px;
    color:#797979;
}
.text-desc-text{
    font-size:16px;
    color:#8A8A8A;
    margin-top: 25px;
    margin-bottom: 53px;
}
.underline{
    width:50px;
    height:2px;
    background-color:#F26432;
}



.zixun{
    background-color:#E7E7E7;

}

.zixun dt{
    color:#0364FF;
    font-size:22px;
    font-weight: 600;
}
.zixun-number{
    width:30px;
    font-size:24px;
    display: inline-block;
}
.zixun dd{
    padding-left: 30px;
    color:#5E5E5E;
    font-size:16px;
}



.release dt{
    color:#535353;
    font-size:24px;
    font-weight: 600;
}
.release dd{
    font-size:16px;
    color:#595959;
}
.release .preview{
    font-size:18px;
    font-weight: 400;
    color:#7a7a7a;
    margin-bottom:28px;
}

.search{
    background-color:#5EA3DE;
    padding-top:10px;
}
.search div{
    color:#fff;
    font-size:15px;
}
.search .search-text{

    font-size:36px;
}
.search .search-desc{
    font-size:22px;
    margin-bottom:28px;
}
.sport_shouji_img{
    z-index:3;
    margin-bottom: 3.2%;
}
.sport_shouji_bj{
    z-index:1;
    bottom:0;
    left:-9.3%;
}


.understand h4 {
    font-size:26px;
    margin-top:56px;
    color:#A31620;
}
.understand p{
	margin-bottom:40px;
}
.understand{
	padding-bottom:60px;
}
