.main-bg{
    background: #FFFFFF;
    width: 100%;
}
.main-bg-img{
    width: 100%;
    height: 607px;

}


.botom{
    width:100%;
    height:350px;
    float:left;
    background:#6e6d71;
}
.botom .bbs{
    width:960px;
    padding-bottom:20px;
    float:left;
    margin-top:20px;
    margin-left:20%;
}
.botom .bbs .suber{
    width:240px;
    float:left;
    display:block;
    overflow:hidden;
}
.botom .bbs .suber h3{
    font-size:12px;
    width:200px;
    float:left;
    line-height:35px;
    border-bottom:1px #c2c2c2 dashed;
    color:#dcdcdc;
}
.botom .bbs .suber h4{
    font-size:12px;
    width:200px;
    float:left;
    line-height:37px;
    color:#dcdcdc;
}
.botom .bbs .suber h5{
    font-size:12px;
    width:200px;
    line-height:39px;
    float:left;
    color:#ffffff;
}
.botom .bbs .suber span{
    font-size:12px;
    width:200px;
    float:left;
    line-height:22px;
    color:#b5b5b5;
}
.botom .bbs .suber p{
    font-size:12px;
    width:200px;
    float:left;
    line-height:20px;
    color:#b5b5b5;
}
.botom .bbq{
    width:500px;
    height:50px;
    float:left;
    margin-left:457px;
    text-align:center;
    padding-top:12px;
}
.botom .bbq li{
    width:100px;
    float:left;
    color:#b5b5b5;
}
