@charset "utf-8";
		body{
			overflow-x:auto;
			-moz-user-select:none;

			-webkit-user-select:none;

			user-select:none;    
		}
		.top_box_border_bottom_color {
			border-bottom: 1px solid #FFB400;
		}
		.article{
			margin-top:5px;
			width:225px;
			margin-right:8px;
		}
		.article_top{
			width:215px;
			min-height:100px;
			margin-left:5px;
		}
		.article_bottom{
			background-color:#414141;
			margin-top:5px;
		}
		.leftBox_child {
			width: 83px;
			height: 85px;
			box-sizing: border-box;
			border-right: 1px solid #555555;
			border-bottom: 1px solid #555555;
			position: relative;
			float: left;
		}
		.leftBox_child:hover, .leftBox_childAct {
			background-color: #000;
			border-color: #000;
		}
		.leftBox_child_img {
			width: 60px;
			height: 60px;
			margin: 0 auto;
			background-image:url(../images2/lottery-cion.png);
			background-repeat:no-repeat;
		}
		.leftBox_child_title {
			text-align: center;
			font-size: 12px;
			color: #a5a5a5;
		}
		.leftBox_child_hide {
			position: absolute;
			display: none;
			left: 0;
			top: 85px;
			background-color: rgba(0,0,0,.9);
			padding: 5px 10px;
			width: 160px;
			z-index: 10;
		}
		.leftBox_child:hover .leftBox_child_hide, .leftBox_childAct .leftBox_child_hide {
			display: block;
		}
		.leftBox_child_hideTag {
			float: left;
			width: 50%;
			font-size: 12px;
			color: #a5a5a5;
			padding: 5px 0;
			white-space:nowrap;
			cursor:pointer;
		}
		.leftBox_child_hideTag:hover{
			color:#44C48B;
		}
		.leftBox_child_hideTag span{
			background-image:url("../images2/lottery-cion.png");
			background-repeat:no-repeat;
			width:9px;
			height:9px;
			display:inline-block;
			margin-left:5px;
		}
		.leftBox_child_hideTag span.status1{
			background-position:-90px -249px;
		}
		.leftBox_child_hideTag span.status2{
			background-position:-113px -249px;
		}
		.leftBox_child_hideTag span.status3{
			background-position:-135px -249px;
		}
		.cp_type_bg2{/**时时彩**/
			background-position:-12px 0;
		}
		.cp_type_bg5{/***快3骨宝***/
			background-position:-12px -60px;
		}
		.cp_type_bg4{/***11选五系列**/
			background-position:-12px -120px;
		}
		.cp_type_bg7{/**低频系列**/
			background-position:-12px -180px;
		}
		.cp_type_bg3{/**快乐十分**/
			background-position:-12px -240px;
		}
		.cp_type_bg6{ /**快乐8**/
			background-position:-12px -300px;
		}
		.cp_type_bg8{ /*其他 */
			background-position:-12px -360px;
		}
		
		.article_middle_nav{
			height:35px;
			line-height:35px;
			padding:0 10px;
			margin-bottom:3px;
			background-color:#414141;
		}
		
		.article_middle_nav>div>span{
			padding:0 15px;
			cursor:pointer;
			font-size:13px;
			color:#8f8f8f;
			border-right:1px solid #C2C2C2;
		}
		.article_middle_nav>div>span:last-child{
			border-right:none;
		}
		.article_middle_nav span.active{
			color:#fff;
			
		}
		.article_middle_box {
			width:220px;
			margin-left:5px;
			
			margin-top:2px;
			overflow:hidden;
		}
		.article_middle_nowList_content{
			position:relative;
			/*height:300px;*/
			overflow:HIdden; 
			width:210px;
		}
		.article_middle_nowList_content_sub{
			position:absolute;
			top:0;
			left:0;
			width:100%;
		}
		.article_middle_box_sub{
		
			float:left;
			
		}
		.article_middle_beenList_content{
			display:none;
		}
		.article_middle_box_sub_scrollBox{
			float:right;
			width:8px;
			
		}
		.article_middle_nowList_content_sub01{
			position:absolute;
			top:0;
			left:0;
			width:100%;
		}
		.nowList_sub01_scroll_box_sub{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			border-radius:6px;
			height:30px;
			background-color:#000;
		}
		.nowList_sub01_scroll_box{
			position:relative;
			top:0;
			left:0;
			height:300px;

		}
		.nowList_content_sub01_quickMoney{
			margin:10px 0;
			color:#414141;
		}
		.quickMoney_btn span{
			display:inline-block;
			margin:2px 3px;
			width:45px;
			height:30px;
			line-height:30px;
			text-align:center;
			background-color:#D9D9D9;
			cursor:pointer;
			color:#0CC39F;
			border-radius:2px;
		}
		.quickMoney_btn span:hover{
			background-color:#FFFFFF;
		}
		.quickMoney_text{
			margin:3px 0;
			color:#b4b4b4;
			height:25px;
			line-height:25px;
		}
		.quickMoneyInput_box{
			width:60px;
			height:25px;
			background-color:#fff;
			border-radius:3px;
			margin:0 12px 0px 3px;
		}
		.quickMoneyInput_box:hover,.quickMoneyInput_box:hover .quickMoneyInput{
			background-color:#E0E0E0;
			
		}
		.quickMoneyInput{
			outline:0;
			outline:none;
			border:0;
			border:none;
			margin:0;
			padding:0;
			height:20px;
			margin-top:3px;
			margin-left:3px;
			margin-right:3px;
			width:54px;
			background-color:#fff;
			font-size:13px;
		}
		.clearMoney{
			cursor:pointer;
			font-size:13px;
			
		}
		.clearMoney:hover{
			color:#0DC29F;
			text-decoration:underline;
		}
		.nowList_content_sub01_btn,.nowList_content_sub02_btn,.betAlert_btn{
			text-align:center;
		}
		.nowList_content_sub01_btn input,.betting_btn{
			border:0;
			outline:0;
			padding:6px 0;
			margin:6px 0;
			font-size:14px;
			cursor:pointer;
			border-radius:3px;
			display:block;
			width:100%;
			
		}
		.submitOdds,.submitOdds_ok,.betting_btn{
			background-color:#FFAB00;
			color:#563901;
		}
		.deleteOdds{
			background-color:#5A5A5A;
			color:#B3B3B3;
		}
		.article_middle_nowList_content_sub02{
			color:#858585;
			font-size:13px;
		}
		.user_choose{
			margin-top:3px;
			font-size:13px;
			color:#b4b4b4;
			height:30px;
			line-height:30px;
		}
		.orderRow{
			color:#70717c;
			padding:5px;
			background-color:#D5D5D5;
			border-bottom:1px solid #ABB1BB;
			zoom:1;
		}
		.nowList_title{
			font-size:14px;
			height:28px;
			line-height:28px;
			margin-bottom:3px;
		}
		
		
		
		.moneyInput,.right_quickBet_moneyInput{
			border:0;
			border:none;
			outline:none;
			height:20px;
			margin:1px;
			width:35px;
			font-size:13px;
			background-color:#fff;
			border:1px solid #BFC2C9;
			padding:0 4px;
		}
		.moneyInput:hover{
			background-color:#E0E0E0;
		}
		.orderDelete,.orderDelete_right_quick{
			float:right;
			display:block;
			background-image: url("../images2/lottery-cion2.png");
			background-position: -122px -21px;
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			cursor: pointer;
			margin-top: 4px;
			
		}
		

		/****中间部分顶部****/
		#mid{
			
		}
		#content{
			width:1400px;

		}
		.top_box{
			min-width:1400px;
		}
		.mid_center_box{
			position:relative;
			top:0;
			left:0;
			overflow:hidden;
			width:750px;
		}
		.mid_center{
			width:750px;
			position:absolute;
			top:0;
			left:0;
		}
		.mid_center_scroll_box{
			height:100%;
		}
		.mid_center_scroll_box_sub{
			
			width:8px;
			height:100%;
			position:relative;
			top:0;
			left:0;
			margin-left:3px;
		}
		.mid_center_scroll{
			width:100%;
			height:60px;
			border-radius:9px;
			position:absolute;
			top:0;
			left:0;
			background-color:#464646;
		}
		.mid_tab_sub{
			margin-left:30px;
			height:30px;
			line-height:30px;
			margin-top:3px;
			zoom:1;
		}
		
		
		.mideTab_content_sub li{
			padding:0 12px;
			font-size:14px;
			color:#fff;
			cursor:pointer;
			background-color:#757474;
			margin-right:8px;
			border-radius:5px 5px 0 0;
		}
		.mideTab_content_sub li.active{
			background-color:#D5DCE2;
			color:#4c4c4c;
		}
		.mideTab_content_sub li span{
			display: inline-block;
			width: 11px;
			height: 13px;
			margin-right:4px;
			background-image:url("../images2/lottery-cion2.png");
			background-repeat:no-repeat;
		}
		.mideTab_content_sub li span.status1{
			background-position:-69px -74px;
		}
		.mideTab_content_sub li span.status2{
			background-position:-110px -74px;
		}
		.mideTab_content_sub li span.status3{
			background-position:-88px -74px;
		}
		
		.mideTab_left_arrow {
			float: left;
			width: 10px;
			height: 20px;
			background: url(../images2/lottery-cion.png) no-repeat;
			background-position: -102px -64px;
			margin-top: 8px;
			margin-left: 10px;
		}
		.mideTab_left_reload {
			float: right;
			height: 24px;
			line-height: 24px;
			width: 50px;
			border-radius: 10px;
			color: #a3dacd;
			background-color: rgba(0,0,0,.3);
			text-align: center;
			cursor: pointer;
			margin-top:6px;
			margin-left:5px;
			margin-right:5px;
		}
		.mid_tab_right{
			height:35px;
			line-height:35px;
		}
		.mid_nav,.mid-Tab{
			zoom:1;
			width:1000px;
		}
		.mid-Tag{
			width:1100px;
			margin-bottom:5px;
		}
		.mid-Tag-sub{
			height:40px;
			line-height:40px;
			font-size:13px;
			
			background-color:#D5DCE2;
		} 
		.midTag_child {
			float: left;
			
			margin-left: 20px;
			font-size: 12px;
			color: #525252;
			cursor: pointer;
		}
		.midTag_child.active {
			color:#000;
			font-weight:bold;
		}
		.left-Head {
			zoom:1;
			padding:5px 5px 0 5px;
			border-bottom: 1px solid #5c5c57;
			background-color: #414141;
			margin-bottom:1px;
		}
		.leftHead {
			margin-bottom: 5px;
		}
		.leftHead h2 {
			float: left;
			font-size: 24px;
			font-weight: normal;
			margin: 0;
			font-family: SimHei;
			margin-right: 10px;
			color: #fff;
		}
		.leftHead_tag {
			
			display: inline-block;
			height: 22px;
			width: 38px;
			border-radius: 1px;
			background-color: #505050;
			color: #909090;
			line-height: 22px;
			text-align: center;
			margin:5px 5px 0 0;
			cursor: pointer;
		}
		
		.leftTime {
			color: #8f8f8f;
			text-align: left;
			margin-bottom: 5px;
			font-size:12px;
			white-space:nowrap;
		}
		.leftTime span {
			color: #fff;
		}
		.leftNum_child {
			float: left;
			height: 30px;
			width: 30px;
			border-radius: 50%;
			text-align: center;
			line-height: 30px;
			color: #fff;
			margin-right: 10px;
			font-size:16px;
			margin-bottom:5px;
		}
		.leftNum_child.crossbar{
			border:none;
			color:#fff;
			font-weight:bold;
		}
		.lvBox{
			background-color:#0DC4A0;
		}
		.hongBox{
			background-color:#E4423E;
		}
		.lanBox{
			background-color:#609EE9;
		}

		.left-Body {
			padding:5px 10px;
			background-color: #414141;
			margin-bottom: 5px;
		}
		.leftLast {
			text-align: left;
			font-size: 12px;
			color: #fff;
			margin-bottom: 5px;
		}
		
		.leftOpTime_show {
			font-size: 40px;
			color: #a4a4a4;
			height: 50px;
			background-color: #262626;
			text-align:center;
			line-height:50px;
		}
		



		/***赔率部分******/
		.mid-Title {
			line-height: 35px;
			font-size: 13px;
			font-weight: bold;
			color: #cbcbcb;
			padding-left: 18px;
			background-color: #5D6165;
		}
		.mid-TWord {
			padding-top: 10px;
			margin-bottom: 15px;
			background-color: #f8f8f8;
		}
		.midTWord_tab {
			overflow:hidden;
			margin-right:5px;
			margin-left:5px;
			margin-bottom:10px;
			background-color:#D5DCE2;
			height:48px;
		}
		.midTWord_tab_sub{
			float:left;
			position:relative;
			left:50%;
			
		}
		.midTWord_tab_child {
			padding:0 10px;
			margin-right: 10px;
			height: 25px;
			line-height: 25px;
			border:1px solid  #B8B8B8;
			background-image:url(../images2/bj-02.png);
			background-repeat:repeat-x;
			float: left;
			
			color: #707070;
			cursor:pointer;
			position:relative;
			left:-50%;
			margin-top:10px;
			font-weight:bold;
			font-size:13px;
		}
		.midTWord_tab_childAct {
			background-image:url(../images2/bj-01.png);
			color: #fff;
		}
		.midTWord_outer{
			width:100%;
			overflow:auto;
		}
		.midTWord_child {
			float: left;
			margin-left: 6px;
			width: 140px;
			height: 30px;
			background-color: #ccc;
			margin-bottom: 10px;
			border:1px solid #CDCDCD;
		}
		.midTWord_child_badges_box{
			width:40px;
			height:30px;
			float:left;
			
		}
		.midTWord_child_badges_special{
			text-align:center;
			line-height:30px;
			height:30px;
			width:40px;
			margin-top:0;
		}
		.midTWord_child_badges {
			float:left;
			height: 24px;
			width: 24px;
			margin: 3px 0;
			margin-left:8px;
			color: #fff;
			text-align: center;
			line-height: 24px;
			/*margin: 3px 5px 0 5px; */
			background-position:-166px -21px;
			background-repeat:no-repeat;
			background-image:url(../images2/lottery-cion2.png);
			
		}
		
		.showNum_text_box{
			width:99px;
			background-color:#dcdcdc;
			border-left:1px solid #C0BFBF;
		}
		.showNum_text_box_SZHS{
			width:99px;
		}
		.midTWord_child_showNum {
			float: left;
			line-height: 30px;
			color: #585858;
			margin-left:10px;
		}
		.midTWord_child_black {
			float: right;
			margin:0;
			padding:0;
			outline:none;
			border:0;
			border:none;
			width: 40px;
			height: 24px;
			background-color: #fff;
			border:1px solid #cdcdcd;
			margin: 2px 5px 0 0;
			padding:0 4px;
		}
		
		.titleLv,.titleHong,.titleLan,.titleHui{
			background-image:url(../images2/lottery-cion2.png);
			background-repeat:no-repeat;
		}
		.titleHong{
			background-position:-166px -21px;
		}
		.titleLan{
			background-position:-166px -64px;
		}
		.titleLv{
			background-position:-166px -108px;
		}
		.titleHui{
			background-position:-209px -21px;
		}
		.hong{
			background-color:#E4423E;
		}
		.lan{
			background-color:#609EE9;
		}
		.lv{
			background-color:#0DC4A0;
		}
		/*
		.titleHui{
			background-color:#a8a8a8;
			cursor:not-allowed;
		}
		*/
		.midTWord_child_sjwx_zfb{
			width:280px;
			margin-left:14px;
			margin-bottom:10px;
			height:30px;
			line-height:30px;
			background-color:#DCDCDC;
		}
		
		.sjwx_zfb_number{
			font-size:13px;
			color:#000;
			margin-left:5px;
			letter-spacing:1px;

		}
		.sjwx_zfb_odds{
			color:#585858;
			margin-right:20px;
			cursor:pointer;
		}
		.frame_10 table td,.frame_04 table td{
			color:#595959;
		}
		.frame_10 table td .odds_pl,.frame_04 table td label{
			cursor:pointer;
			
		}

		table{
			border-collapse:collapse;
			table-layout:fixed;
			
		}
		
		.frame_09 .mid-TWord{
			padding-bottom:10px;
		}
		
		.frame_09_descrite{
			display:inline-block;
			width:24px;
			height:24px;
			line-height:24px;
			text-align:center;
			font-size:13px;
			color:#fff;
			border-radius:50%;
			background-color:#E4423E;
			margin-right:5px;
		}
		.frame_09 .showNum{
			
			font-size:12px;
			cursor:pointer;
		}
		
		.frame_08 .mid-TWord,.frame_07 .mid-TWord{
			padding-bottom:10px;
		}
		.frame_08 .midTWord_child,.frame_07 .midTWord_child,.frame_06 .midTWord_child{
			width:235px;
			margin:0;
			margin-left:3px;
			margin-bottom:10px;
			border-radius:3px;
		}
		.frame_08 .midTWord_outer,.frame_07 .midTWord_outer,.frame_06 .midTWord_outer{
			
		}
		.frame_08_number_box,.frame_07_number_box{
			margin-left:5px;
		}
		.frame_08_title{margin-bottom:10px;margin-right:50px;}
		.frame_08_title span{font-size:13px;}
		.frame_08_title .quick_choose_btn{font-size:13px;color:#0DC2A6;margin:0 6px;cursor:pointer;}
		.frame_08_title .quick_choose_btn:hover{
			text-decoration:underline;
		}
		.frame_08_number_box .midTWord_child_badges,.frame_07_number_box .midTWord_child_badges, .frame_06_number_box .midTWord_child_badges{
			width:24px;
			height:24px;
			line-height:24px;
			margin:3px 2px 0px 2px;
		}
		.frame_08_odds_box{
			
			height:30px;
			line-height:30px;
			margin-right:5px;
		}
		.frame_07_odds_box,.frame_05_odds_box,.frame_03_odds_box,.frame_08_odds_box_sub{
			color:#a5a5a5;
			text-align:center;
			
			height:30px;
			line-height:30px;
			margin-left:5px;
			margin-right:5px;
		}
		.frame_07_odds_box span,.frame_05_odds_box span,.frame_03_odds_box span,.frame_08_odds_box_sub span{
			color:#E4423E;
		}
		.frame_07_odds_box .odds_pl,.frame_05_odds_box .odds_pl,.frame_03_odds_box .odds_pl,.frame04 .odds_pl,.frame_08_odds_box_sub .odds_pl{
			
			min-width:40px;
			text-align:center;
			display:inline-block;
			cursor:pointer;
		}
		.frame_07 .midTWord_child>.midTWord_child_badges{
			cursor:pointer;
		}
		.frame_06 .odds_pl{
			cursor:pointer;
			height:35px;
			line-height:35px;
			margin-right:15px;
		}

		.frame_05 .midTWord_outer {
			margin-left:8px;
			margin-bottom:5px;
			
			padding:10px 0;
		}
		.frame_05 .mid-TWord{
			padding-bottom:10px;
		}
		.frame_05_box{
			/*
			height:35px;
			line-height:35px;
			*/
			margin-top:5px;
		}
		.frame_05_box_text,.frame_02_box_text{
			font-size:14px;
			
			width:60px;
			text-align:center;
			height:28px;
			line-height:28px;
			margin-top:3px;
		}
		.frame_05_number_box .midTWord_child_badges,.frame_02_number_box .midTWord_child_badges{
			margin-right:4px;
			margin-left:4px;
			cursor:pointer;
		}

		
		.frame_04 .frame_04_text{
			color:#E4423E;
			margin-right:5px;
		}
		.frame_04 .mid-TWord{
			padding-bottom:5px;
		}
		.frame_03_box,.frame_02_box{
			height:35px;
			margin-top:3px;
		}
		.frame_03_text{
			width:100px;
			height:28px;
			line-height:28px;
			margin-top:3px;
			font-size:13px;
			color:#000;
			text-align:center;
		}
		.frame_03 .midTWord_outer,.frame_02 .midTWord_outer{
			padding:10px 0;
			
			margin-left:5px;
			margin-right:5px;
			margin-bottom:10px;
		}
		.frame_03 .mid-TWord,.frame_02 .mid-TWord{
			padding-bottom:10px;
		}
		.frame_03_number{
			cursor:pointer;
			font-size:13px;
		} 
		.frame_02_info,.frame_02_odds_box{
			margin-left:5px;
			margin-right:5px;
		}
		.frame_02_info{
			color:#a5a5a5;
			margin-bottom:5px;
			text-align:center;
			height:30px;
			line-height:30px;
		}
		.frame_02_info span{
			color:#E4423E;
			font-size:13px;
			
		}
		.midAWtwo_row_childAsh {
			float:right;
			margin:0;
			padding:0;
			outline:none;
			border:0;
			border:none;
			height: 24px;
			width: 45px;
			margin-right:10px;
			margin-top:5px;
			border:1px solid #CDCDCD;
			background-color: #fff;
			padding:0 4px;
		}


		.frame_01 table{
			width:100%;
			margin-bottom:10px;
		}
		.frame_01 .odds_pl{
			cursor:pointer;
		}
		.frame_01 .odds_pl:hover{
			color:#0CC39F;
		}
		.frame_01 .mid-TWord{
			overflow:hidden;
		}
		table td{
			height:35px;
			line-height:35px;
			text-align:center;
			color:#585858;
			border-right:1px solid #A9B0BB;
			border-bottom:1px solid #A9B0BB;
		}
		
		table tbody tr:nth-child(1) td{
			border-top:0;
			
		}
		table tbody tr:nth-last-child(1) td{
			border-bottom:0;
		}
		table tr td:nth-child(1){
			border-left:0;
		}
		table tr td:nth-last-child(1){
			border-right:0;
		}
		.frame_09 table td{
			border:1px solid #A9B0BB;
		}
		.frame_09 table tbody tr:nth-child(1) td{
			border-top:1px solid #A9B0BB;
			
		}
		.frame_09 table tbody tr:nth-last-child(1) td{
			border-bottom:1px solid #A9B0BB;
		}
		.frame_01.QT_box .midTWord_child_badges,.frame_01.NN_box .midTWord_child_badges,.frame_01.NNSM_box .midTWord_child_badges,.frame_01.SH_box .midTWord_child_badges{
			background-image:none;
			color:#2D2D2D;
		}


		.midTWord_child_special{
			width:170px;
		}
		
		.midTWord_child_badges_special_long{
			width:70px;
		}
		.GYJH_box .midTWord_child_special {
			width:200px;

		}
		.GYJH_box .midTWord_child_badges_special_long{
			width:100px;
		}
		.mid-Sure {
			text-align: center;
			margin: 10px 0;
		}
		.midSure_show {
			color: #fff;
		}
		.midSure_show_money{
			margin-left:5px;
			margin-right:5px;
		}
		.midSure_Btn {
			display: inline-block;
			vertical-align: middle;
			height:26px;
			line-height: 26px;
			border-radius: 3px;
			text-align: center;
			cursor: pointer;
			width: 55px;
			font-size: 12px;
			margin-left: 10px;
		}
		.midSure_Btn{
			*display:inline;
		}
		.midSure_sureBtn {
			background-color: #FFA800;
			color: #fff;
		}
		.midSure_refreshBtn {
			background-color: #acacac;
			color: #535353;
		}

		.midResult_tab {
			background-color: #5D6065;
			height: 35px;
		}
		.midResult_tab_leftChild {
			float: left;
			line-height: 35px;
			padding: 0 10px;
			border-right: 1px solid #747474;
			color: #CBCCCE;
			font-size: 13px;
			cursor:pointer;
		}
		.midResult_tab_rightAu {
			
			margin-top: 5px;
			margin-right: 10px;
			color: #a4a4a4;
		}
		.midResult_tab_rightBtn {	
			line-height: 35px;
			color: #a4a4a4;
			margin-right: 10px;
			cursor:pointer;
		}
		.midResult_tab_rightBtn:hover{
			color:#FFC53D;
			text-decoration:underline;
		}
		.midResult_tab_rightSelect,#showRows {
			
			height: 22px;
			background-color: #D1D1D1;
			color: #1D1D1D;
			margin-right: 10px;
			margin-top: 5px;
		}
		.midResult_tag {
			padding-right: 16px;
			
		}
		.midResult_tag_child {
			line-height: 30px;
			color: #5C6165;
			padding: 0 10px;
			font-size:13px;
			cursor:pointer;
		}
		.midResult_tag_child_lutype3{
			line-height: 30px;
			
			padding: 0 10px;
			font-size:13px;
		}
		.midResult_tag_child.active{
			color:#000;
			font-weight:bold;
		}
		.midResult_content{
			padding-bottom:2px;
			width:100%;
		}
		.midResult_content_left{
			width:100px;
			color:#4A4B4D;
			font-size:14px;
			
		}
		.midResult_content_left_lutype3{
			width:30px;
		}
		.midResult_content_left li{
			height:29px;
			line-height:29px;
			border-bottom:1px solid #979AA1;
			cursor:pointer;
			
			text-align:center;
		}
		.midResult_content_left_lutype3 li{
			margin-bottom:0;
			width:30px;
		}
		.midResult_content_right{
			width:638px;
			
			height:300px;
			overflow:hidden;
			position:relative;
		}
		.midResult_content_right_lutype3{
			width:708px;
		}
		.midResult_content_right_sub{
			min-width:100%;
			min-height:100%;
			background-repeat:repeat;
			background-image:url(../images2/lz_bj.png);
			position:absolute;
			top:0;
			left:0;
		}
		.midResult_tab_leftChild.active{
			background-color:#BCC1C7;
			color:#2E2E2E;
			font-weight:bold;
		}
		.midResult_content_left li:hover,.midResult_content_left li.midResult_content_leftChildAct {
			background-color: #fff;
			color: #5F6065;
			font-weight:bold;
		}
		.frame_02_number,.frame_03_number,.frame_05_number{
		
			transition:background-color .2s;
		
		}
		.frame_02 .midTWord_child{
			width:161px;
		}
		.frame_02_odds{
			height:35px;
			line-height:35px;
			display:block;
			font-size:13px;
			cursor:pointer;
			margin-right:5px;
		}
		
		.sure,.empty{
			outline:none;
			border:0;
			border:none;
			outline:0;

			padding:2px 4px;
			font-size:13px;
			cursor:pointer;
			background-color:#ACACAC;
			margin-right:3px;
			margin-left:3px;
			border-radius:3px;
		}
		.sure{
			background-color:#0ec39f;
			color:#fff;
		}
		.frame_07_odds_box .odds_pl:hover{
			color:#0DC4A0;
		}
		.user_choose_btn_true,.user_choose_btn_false{
			display:inline-block;
			width:14px;
			height:14px;
			background-image:url(../images2/lottery-cion.png);
			background-repeat:no-repeat;
			cursor:pointer;
			vertical-align:middle;
		}
		
		.user_choose_btn_true{
			background-position:-85px -389px;
		}
		.user_choose_btn_false{
			background-position:-85px -367px;
		}
		.frame_09 .showNum:hover,.frame_10 .odds_pl:hover,.frame_02 .odds_pl:hover{
			color:#0DC29F;
		}
		
		.frame_10 .odds_pl{
			cursor:pointer;
		}
		.article_middle_beenList_content{
			position:relative;
			height:300px;
			overflow:hidden; 
			left:0;
			top:0;
			width:210px;
		}
		.article_middle_beenList_content_sub{
			position:absolute;
			top:0;
			left:0;
			width:100%;
		}
		.beenList_scroll_box{
			position:relative;
			top:0;
			left:0;
			height:300px;
		}
		.beenList_scroll_box_sub{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:50px;
			border-radius:6px;
			background-color:#000;
		}
		.beenList_item{
			margin-bottom:10px;
			color:#8f8f8f;
		}
		.beenList_item_name{
			padding:2px 0;
			font-size:13px;
			
		}
		.beenList_item_descrite{
			font-size:13px;
		}
		.beenList_item_pl{
			color:#0CC39F;
		}
		.alertInfo{
			position:fixed;
			top:50%;
			left:50%;
			width:200px;
			height:100px;
			background-color:rgba(0,0,0,.8);
			margin-left:-100px;
			margin-top:-50px;
			color:#0CC39F;
			z-index:22;
			text-align:center;
			font-size:13px;
		}
		
		.lz_line_box>div{
			width:30px;
			height:30px;
			
		}
		
		.lz_line_box .color2,.lz_line_box .color0,.lz_line_box .color3,.lz_line_box .color4,.lz_line_box .color1{
			line-height:30px;
			text-align:center;
			font-size:13px;
		}
		.lz_line_box .color4{
			color: #CC0099;
		}
		.lz_line_box .color3{
			color:#DF5DA2;
		}
		.lz_line_box .color2{
			color:#FE0000;
		}
		.lz_line_box .color1{
			color: #00CFFF;
		}
		.lz_line_box .color0{
			color:#00C800;
		}
		.mid-Result{
			background-color:#BDC1CA;
			margin-bottom:10px;
		}
		
		.midResult_content_scrollY_box_sub{
			width:8px;
			height:300px;
			position:relative;
			margin-left:3px;
		}
		.midResult_content_scrollY{
			width:100%;
			height:50px;
			background-color:#414141;
			border-radius:9px;
			position:absolute;
			top:0;
			left:0;
		}
		.midResult_content_scrollX_box{
			
			overflow:hidden;
		}
		.midResult_content_scrollX_box_sub{
			position:relative;
			top:0;
			left:0;
			height:8px;
			width:638px;
			margin-bottom:6px;
			margin-top:3px;
			margin-left:100px;
		}
		.midResult_content_scrollX_box_sub_lutype3{
			margin-left:30px;
			width:708px;
		}
		.midResult_content_scrollX{
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:80px;
			border-radius:9px;
			background-color:#414141;
			
		}



		.table_luType_4{
			width:100%;
			height:100%;
			background-color:#fff;
			border-collapse:collapse;
		}
		.table_luType_4 tr td{
			text-align:center;
			font-size:13px;
			height:35px;
			border:1px solid #474747;
		}
		table .table_td_no_right_bottom{
			border-right:none;
			border-bottom:none;
		}
		table td.midAWtwo_row_childhead{
			
			color:#45484d;
			text-align:center;
			background-color:#BCC3C9;
			font-size:13px;
			font-weight:bold;
		}
		

		.midResult_content_left_lutype5{
			width:0;
		}
		.midResult_content_right_lutype5{
			width:738px;
			background-color:#fff;
			height:320px;
		}
		.midResult_content_scrollX_box_sub_lutype5{
			width:738px;
			
		}
		.midResult_content_scrollY_box_sub_lutype5{
			height:320px;
		}
		.resultBox{
			table-layout:auto;
			border-collapse:collapse;
		}
		.resultBox th,.resultBox td{
			padding:2px;
			border:1px solid #474747;
			text-align:center;
			font-size:13px;
			color:#45484d;
			
		}
		.midResult_content_right_lutype5 table thead th{
			height:30px;
			background-color:#BCC3C9;
			color:#45484d;
			border-top:none;
			border-left:none;
		}
		
		.resultBox tr th:nth-last-child(1){
			border-right:none;
		}
		.resultBox td span{
			display:inline-block;
			width:25px;
			height:25px;
			margin:2px;
			line-height:25px;
			text-align:center;
			border-radius:50%;
			color:#fff;
		}
		.resultBox td em{
			font-style:normal;
			font-weight:bold;
		}
		.huang{
			background-color:#E4423E;
		}
		.mid-Result .div_number{
			cursor:pointer;
		}


		.midResult_div_number_alertBox{
			width:100%;
			height:100%;
			position:fixed;
			top:0;
			left:0;
			z-index:30;
		}
		.midResult_div_number_bgColor{
			width:100%;
			height:100%;
			background-color:#000;
			opacity:0.7;
			filter:(opacity=70);
		}
		.midResult_div_number{
			position:absolute;
			top:50%;
			left:50%;
			width:360px;
			height:320px;
			margin-left:-180px;
			margin-top:-160px;
		}
		.midResult_div_number{
			background-color:#f2f2f2;
			border-radius:5px;
		}
		.midResult_div_number_title{
			height:35px;
			line-height:35px;
			text-indent:4px;
			font-size:14px;
			color:#000;
			border-bottom:2px solid #0CC39F;
		}
		.close_midResult_div_number,.closeGameRules,.close_nowList_confirm,.close_alertBox_bg,.closeContentCL{
			
			margin-right: 10px;
			background-image: url("../images2/cion.png");
			background-position: -40px -105px;
			width: 21px;
			height: 21px;
			background-repeat: no-repeat;
			cursor: pointer;
			margin-top: 7px;
			transition: transform .2s;
			-webkit-transition: transform .2s;
			-o-transition: transform .2s;
			-ms-transition: transform .2s;
			float:right;
			display:inline-block;
		}
		.close_midResult_div_number:hover,.closeGameRules:Hover,.close_nowList_confirm:hover,.close_alertBox_bg:hover,.closeContentCL:hover{
			transform:rotate(180deg);
			-ms-transform:rotate(180deg);
			-webkit-transform:rotate(180deg);
			-o-transform:rotate(180deg);
			-moz-transform:rotate(180deg);
		}
		.midResult_div_number_content{
			padding:10px 20px;
		}
		.midResult_div_number_content em{
			font-style:normal;
			color:#333;
			font-size:13px;
		}
		.midResult_div_number_content div{
			margin:5px 0;
		}
		.num_box span{
			display:inline-block;
			width:25px;
			height:25px;
			margin:2px;
			margin-top:0;
			line-height:25px;
			text-align:center;
			border-radius:50%;
			color:#fff;
		}
		.gameRules{
			width: 850px;
			position: absolute;
			margin: auto;
			right: 0;
			left: 0;
			
			top: 50px;
			background-color: #f2f2f2;
			z-index: 51;
		}
		.gameRulesTitle{
			height:35px;
			line-height:35px;
			text-align:center;
			font-size:14px;
		}
		.gameRules table .https {
			width: 150px;
			text-align: center;
		}
		.gameRules table tr td {
			border: 1px solid #ddd;
			font-size: 13px;
			padding: 4px;
			text-align:left;
			
		}
		.gameRules table tbody tr:nth-child(1) td {
			border-top: 1px solid #ddd;
		}
		.betAlert{
			position:absolute;
			top:50%;
			left:50%;
			width:200px;
			height:60px;
			background-color:rgba(12,195,159,.9);
			margin-left:-100px;
			margin-top:-30px;
			color:#fff;
			font-size:14px;
			text-align:center;
			margin-top:10px;
		}


		.nowList_confirm,.alertBox{
			width:300px;
			height:200px;
			background-color:#f2f2f2;
			position:fixed;
			top:50%;
			left:50%;
			margin-left:-150px;
			margin-top:-100px;
			z-index:51;
			font-size:13px;
		}
		.nowList_confirm_header,.alertBox_header{
			text-indent:5px;
			height:35px;
			line-height:35px;
			color:#000;
			border-bottom:2px solid #0CC39F;
			font-size:14px;
		}
		.nowList_confirm_content div{
			padding:3px;
			margin-bottom:4px;
			text-align:center;
		}
		.nowList_confirm_btn,.alertBox_btn{
			margin-top:10px;
			text-align:center;
		}
		.submitOdds_ok,.alertBox_btn_ok{
			width:50px;
			height:25px;
			cursor:pointer;
			border:none;
			outline:none;
			border:0;
			color:#fff;
			background-color:#0CC39F;
		}
		.betting_text{
			text-align:center;
			margin:30px 0;
		}
		.beting_success_bg{
			
		}
		.beting_success_text{
			text-align:center;
		}
		.beting_success_btn{
			width:100%;
			border:none;
			outline:none;
			border:0;
			padding:6px 0;
			font-size:13px;
			border-radius:3px;
			background-color:#0dc29f;
			color:#fff;
			cursor:pointer;
		}

		.beting_time{
			margin:5px 0;
			color:#0DC29F;
		}
		.betingLoader{
			position:fixed;
			top:50%;
			left:50%;
			width:100px;
			height:100px;
			background-color:#f2f2f2;
			border-radius:5px;
			margin-left:-50px;
			margin-top:-50px;
			z-index:51;
			text-align:center;
			font-size:13px;
		}
		.betingLoader img{
			margin-top:10px;
			margin-bottom:10px;
		}

		.content_right{
			width:400px;
			margin-left:3px;
			overflow:auto;
		}
		.long_queue{
			width:250px;
			background-color:#414141;
			margin-top:2px;
			overflow-y:auto;
		}
		.lotteryBox01{
			height:30px;
			line-height:30px;
			border-bottom:1px solid #2d2d2d;
		}

		.lotteryBox01 span{
			font-size:13px;
			padding:0 10px;
			border-right:1px solid #2d2d2d;
			color:#8f8f8f;
			cursor:pointer;
		}
		.lotteryBox03{
			height:28px;
			line-height:28px;
			border-bottom:1px solid #2d2d2d;
		}
		.lotteryBox03 span,.lotteryBox03 a{
			padding:0 8px;
			border-right:1px solid #2d2d2d;
			color:#8f8f8f;
			font-size:13px;
			cursor:pointer;
		}
		.lotteryBox03 span.active{
			color:#0CC39F;
		}
		.lotteryBox01 span.active{
			color:#0CC39F;
		}
		.lawContent{
			position:relative;
			top:0;
			left:0;
			height:280px;
			
			overflow:hidden;
			width:100%;
		}
		.lawContent_sub{
			width:230px;
			margin:0 5px;
			position:absolute;
			top:0;
			left:0;
		}
		.lawContent_sub div{
			height:28px;
			line-height:28px;
			color:#8f8f8f;
			
		}
		.lawContent_sub div:hover,.lawContent_sub div:Hover a,.lawContent_sub div:hover span{
			color:#0CC39F;
		}
		
		.lawContent_sub a{
			font-size:12px;
			color:#8f8f8f;
			cursor:pointer;
		}
		.lawContent_sub span{
			margin-right:6px;
		}
		.lawContent_scroll_box{
			width:8px;
			height:100%;
			position:relative;
			top:0;
			left:0;
			margin-right:1px;
		}
		.lawContent_scroll{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:40px;
			border-radius:8px;
			background-color:#262626;
		}

		.allChangLong{
			position:fixed;
			background-color:#f2f2f2;
			left:50%;
			width:350px;
			top:40px;
			margin-left:-175px;
			z-index:51;
			display:none;
		}
		.contentLawCL{
			height:300px;
			overflow:auto;
			position:relative;
			top:0;
			left:0;
		}
		.contentCL_header {
			text-align:center;
			font-size:14px;
			border-bottom:2px solid #44C48B;
			height:35px;
			line-height:35px;
		}
		.titleCL{
			height:30px;
			line-height:30px;
			font-size:13px;
		}
		.titleCL div{
			padding:0 8px;
			
			font-size:13px;
			color:#000;
			cursor:pointer;
		}
		.titleCL div.active{
			color:#0CC39F;
		}
		.contentLawCL .lawContent_sub{
			width:320px;
		}

		.k3Box01_01,.k3Box01_03{
			width:160px;
			background-color:#5D6065;
			border-radius:2px;
			overflow:hidden;
			height:240px;
		}
		.k3Box01_02{
			width:430px;
		}
		.k3Box01_01 div,.k3Box01_03 div{
			height:120px;
			width:100%;
			position:relative;
			top:0;
			left:0;
			cursor:pointer;
		}
		.k3Box01_01 div:hover,.k3Box01_03 div:Hover{
			background-color:#45484e;
		}
		.k3Box01_01 div span,.k3Box01_03 div span{
			position:absolute;
			top:30px;
			right:15px;
			color:#8f8f8f;
		}
		.k3Box01_01 div img,.k3Box01_03 div img{
			margin:20px 6px;
		}
		.k3Box01_02>div,.k3Box01_02>ul{
			width:420px;
			
			margin-left:5px;
		}
		.yz{
			background-color:#5D6065;
			margin-bottom:5px;
			color:#8f8f8f;
			border-radius:3px;
		}
		.yz li{
			width:48px;
			
			height:80px;
			text-align:center;
			cursor:pointer;
		}
		.yz li.border-right{
			border-right:1px solid #6B6C71;
		}
		.yz li.border-left{
			border-left:1px solid #434446;
			
		}
		.yz li.border-left:hover,.yz li.border-right:hover{
			background-color:#45484e;
		}
		.yz li img{
			width:45px;
			margin:5px auto;
			display:block;
			
		}
		.yz .bg_yz{
			background-image:url(../images2/k3/one-bg.png);
			background-repeat:no-repeat;
			width:124px;

		}
		.dz{
			width:208px;
			margin-right:4px;
			color:#8f8f8f;
			text-align:center;
			background-color:#5D6065;
			border-radius:2px;
			height:155px;
		}
		.dz li,.weigu li {
			width:68px;
			height:68px;
			cursor:pointer;
		}
		.dz li:hover,.weigu li:Hover{
			background-color:#45484e;
		}
		.dz li.border_right,.weigu li.border_right{
			border-right:1px solid #6B6C71;
		}
		.dz li.border_left,.weigu li.border_left{
			border-left:1px solid #434446;
		}
		.dz li.border_bottom,.weigu li.border_bottom{
			border-bottom:1px solid #6B6C71;
		}
		.dz li.border_top,.weigu li.border_top{
			border-top:1px solid #434446;
		}
		.dz li img,.weigu li img{
			display:block;
			margin:11px auto;
			
		}
		.weigu li img{
			margin:5px auto;
		}
		.weigu{
			width:208px;
			border-radius:2px;
			text-align:center;
			color:#8f8f8f;
			background-color:#5D6065;
			height:155px;
		}
		.k3Box02{
			margin-top:5px;
			border-radius:3px;
			width:750px;
			height:70px;
			background-color:#5D6065;
		}
		.k3Box02 .test {
			width: 24px;
			font-size: 14px;
			background-image: url(../images2/k3all.png);
			background-position: -109px -98px;
			background-repeat: no-repeat;
			height: 55px;
			margin-top: 8px;
			margin-left: 4px;
			margin-right:3px;
		}
		.k3Box02 .test span {
			line-height: 20px;
			margin-top: 5px;
			display: block;
			width: 100%;
			text-align: center;
			font-size: 13px;
			color: #000;
		}
		.k3Box02 ul li{
			width:49.5px;
			border-right:1px solid #6B6C71;
			border-left:1px solid #434446;
			height:70px;
			text-align:center;
			cursor:pointer;
			color:#8f8f8f;
		}
		.k3Box02 ul li.no_border_right,.k3Box03 ul li.no_border_right{
			border-right:none;
		}
		.k3Box02 ul li.no_border_left,.k3Box03 ul li.no_border_left{
			border-left:none;
		}
		
		.k3Box02 ul li:hover{
			background-color:#45484e;
		}
		.k3Box02 ul li.no_border{
			border:none;
		}
		.k3Box02 ul li div{
			font-size:26px;
			width:100%;
			height:45px;
			line-height:45px;
		}
		.k3Box02 ul li span{
			display:block;
			height:25px;
			line-height:25px;
		}
		.k3Box03{
			height:102px;
			width:750px;
			border-radius:3px;
			background-color:#5D6065;
			margin-top:5px;
		}
		.k3Box03 .test{
			height:98px;
			margin-top:2px;
			margin-left:5px;
			margin-right:6px;
			width:21px;
			background-image:url(../images2/k3all.png);
			background-repeat:no-repeat;
			background-position:-141px -97px;
		}
		.k3Box03 .test span{
			line-height: 30px;
			margin-top: 15px;
			display: block;
			width: 100%;
			text-align: center;
			font-size: 13px;
			color: #000;
		}
		.k3Box03 ul li{
			float:left;
			width:46px;
			height:102px;
			border-right:1px solid #6B6C71;
			border-left:1px solid #434446;
			cursor:pointer;
			color:#8f8f8f;
			text-align:center;
		}
		.k3Box03 ul li div{
			background-image:url(../images2/k3all.png);
			background-repeat:no-repeat;
			width:32px;
			height:65px;
			margin:8px auto;
			
		}
		#KSEBT12 div{
			background-position:0px -453px;
		}
		#KSEBT13 div{
			background-position:-48px -453px;
		}
		#KSEBT14 div{
			background-position:-96px -453px;
		}
		#KSEBT15 div{
			background-position:-144px -453px;
		}
		#KSEBT16 div{
			background-position:-192px -453px;
		}
		#KSEBT23 div{
			background-position:-240px -453px;
		}
		#KSEBT24 div{
			background-position:-294px -453px;
		}
		#KSEBT25 div{
			background-position:-340px -453px;
		}
		#KSEBT26 div{
			background-position:-390px -453px;
		}
		#KSEBT34 div{
			background-position:-439px -453px;
		}
		#KSEBT35 div{
			background-position:-486px -453px;
		}
		#KSEBT36 div{
			background-position:-535px -453px;
		}
		#KSEBT45 div{
			background-position:-587px -453px;
		}
		#KSEBT46 div{
			background-position:-636px -453px;
		}
		#KSEBT56 div{
			background-position:-685px -453px;
		}
		.k3Box03 ul li:hover{
			background-color:#45484e;
		}
		.k3Box03 ul li.no_border{
			border:none;
		}

		.k3Box04{
			margin-top:5px;
		}
		.k3Box04 ul li{
			width:185px;
			margin-right:2px;
			height:50px;
			cursor:pointer;
			background-image:url(../images2/k3all.png);
			background-repeat:no-repeat;
			background-position:-173px -97px;
			color:#676E74;
			text-align:center;
			line-height:50px;
			font-size:16px;
			position:relative;
			top:0;
			left:0;
		}
		.k3Box04 ul li span{
			position:absolute;
			
			right:35px;
			font-size:13px;
		}
		.k3_content_module01 #SZsz,.k3_content_module01 #YDwd{
			color:#886021;
			background-position:-368px -97px;
		}
		.GYJH_span{
			height:20px;
			line-height:20px;
			width:20px;
			text-align:center;
			display:inline-block;
			margin:0 1px;
			background-color:#E4423E;
			color:#fff;
			margin-right:2px;
		}


/****mid-top ******/
.mid_top_sub{position:relative;top:-1px;}
.before_bg,.after_bg{
	background-image:url(../images2/lottery-cion2.png);
}
.before_bg{
	width:30px;
	height:44px;
	background-position:-9px -11px;
	background-repeat:no-repeat;
}
.after_bg{
	width:30px;
	height:44px;
	background-position:-53px -11px;
	background-repeat:no-repeat;
}
.mid_top_sub ul{
	height:44px;
	line-height:44px;
	background-repeat:repeat-x;
	background-image:url("../images2/bj-03.png");
}
.mid_top_sub ul li{
	padding:0 10px;
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	margin-right:15px;
	font-size:14px;
	font-weight:bold;
	color:#582201;
	cursor:pointer;
}
.mid_top_sub ul li.active,.mid_top_sub ul li:hover{
	background-color:#d5dce2;
	border-right:1px solid #323232;
	border-left:1px solid #323232;
}
.mid_top_sub ul li:last-child{
	margin-right:0;
}
/*******非游戏时间的样式*****************/
.game_end,.game_stop {
    width: 350px;
    margin: 20px auto;
    text-align: center;
    padding: 0;
	color:#666;
}
.game_end_part1 span, .game_stop span {
    color: #E4423E;
    font-weight: bold;
    font-size: 13px;
}
.game_end_part2, .game_stop_part2 {
    margin-top: 10px;
    width: 350px;
    height: 170px;
    background-image: url("../style/images/gameLx_box04.png");
}
.game_end .loadBox01,.game_stop .loadBox01{
    padding-top: 30px;
    font-size: 16px;
    color: #666;
}
.game_end .loadBox02,.game_stop .loadBox02 {
    font-size: 16px;
    color: #666;
    margin: 10px auto;
}
/*****快乐 8 中 module2 的样式****************/
.module02>div{
	height:46px;
	border-bottom:1px solid #C9C9C9;
	border-top:1px solid #FDFDFD;
	background-color:#F8F8F8;
	text-align:center;
	font-size:18px;
	color:#37424C;
	cursor:pointer;
}
.k8_zsp_box_text{
	margin-top:2px;
}
.k8_midTWord_child_showNum{
	font-size:12px;
	color:#6C6C6C;
}
.module02.KBSXP_box>div:hover,.module02.KBJOP_box>div:hover,.module02.KBDX_box>div:hover,.module02.KBDS_box>div:hover,.module02.KBDXDS_box>div:hover{
	background-color:#E0E4E9;
}
.KBSXPsp,.KBSXPxp,.KBJOPji,.KBJOPou,.KBDXd,.KBDXx{
	width:265px;
}
.module02 .KBSXPzp,.module02 .KBJOPhe,.module02 .KBDXhe{
	width:218px;
	border-left:1px solid #c9c9c9;
	border-right:1px solid #C9C9C9;
	background-color:#FFF6E8;
}
.KBDSdan{
	width:375px;
	text-align:center;
}
.KBDSs{
	width:374px;
	text-align:center;
	border-left:1px solid #C9C9C9;
}
.KBDXDSddan,.KBDXDSds,.KBDXDSxdan,.KBDXDSxs{
	width:186.75px;
	border-right:1px solid #C9C9C9;
}
.KBDXDSxs{
	border-right:none;
}
.module02 .k8_frame10_box_sub{
	width:149.2px;
	position:relative;
	border-right:1px solid #c9c9c9;
	border-bottom:none;
}

.k8_frame10_text{
	margin-top:3px;
	margin-bottom:5px;
	color:#fff;
} 
.k8_frame10_number{
	font-size:12px;
	color:#d2d2d2;
}
.k8_frame10_odds{
	position:absolute;
	top:4px;
	right:5px;
	color:#d2d2d2;
	font-size:12px;
}
.module02 .KBWXj{
	background-color:#E6570E;
	height:50px;
}
.module02 .KBWXm{
	background-color:#195b0a;
	height:50px;
}
.module02 .KBWXsh{
	background-color:#1d80ff;
	height:50px;
}
.module02 .KBWXhuo{
	background-color:#8a0700;
	height:50px;
}
.module02 .KBWXt{
	border-right:none;
	background-color:#e7af13;
	height:50px;
}
.frame_01 .k8_midTWord_child_showNum:hover,.frame_10 .k8_frame10_odds:hover{
	color:#6C6C6C;
}



/*
.alert_box_sub{
	position:fixed;
	width:300px;
	height:200px;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-100px;
	z-index:51;
	background-color:#F2F2F2;
	border-radius:2px;
	font-size:13px;
}
.alert_box_sub_header{
	font-size:14px;
	text-indent:4px;
	height:30px;
	line-height:30px;
	border-bottom:2px solid #0CC39F;
	position:relative;
}
.close_alert_box{
	margin-right: 4px;
    background-image: url("../images2/cion.png");
    background-position: -40px -105px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 4px;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -o-transition: transform .2s;
    -ms-transition: transform .2s;
    float: right;
    display: inline-block;
	position:absolute;
	top:1px;
	right:2px;
}
.close_alert_box:hover{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
}
.alert_box_sub_content{
	text-align:center;
	font-size:13px;
	margin-top:2px;
	height:130px;
	
}
.alert_box_sub_conten_item{
	padding-top:20px;
}
.alert_box_sub_footer{
	text-align:center;
	height:30px;
	line-height:30px;

}
.alert_box_sub_btn{
	outline:none;
	border:none;
	border:0;
	width:50px;
	height:26px;
	cursor:pointer;
	border-radius:2px;
	background-color:#0CC39F;
	text-align:center;
	line-height:26px;
	color:#fff;
	margin:0 3px;
}
*/
.alert_box_sub{
	position:fixed;
	width:300px;
	height:200px;
	top:50%;
	left:50%;
	margin-left:-150px;
	margin-top:-100px;
	z-index:51;
	background-color:#F2F2F2;
	border-radius:2px;
	font-size:13px;
}
.alert_box_sub_header{
	font-size:14px;
	text-indent:4px;
	height:30px;
	line-height:30px;
	border-bottom:2px solid #0CC39F;
	position:relative;
}
.close_alert_box{
	margin-right: 4px;
    background-image: url("../images2/cion.png");
    background-position: -40px -105px;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 4px;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -o-transition: transform .2s;
    -ms-transition: transform .2s;
    float: right;
	position:absolute;
	right:2px;
	top:1px;
    display: inline-block;
}
.close_alert_box:hover{
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
}
.alert_box_sub_content{
	text-align:center;
	font-size:13px;
	margin-top:2px;
	height:130px;
	
}
.alert_box_sub_conten_item{
	padding-top:20px;
}
.alert_box_sub_footer{
	text-align:center;
	height:30px;
	line-height:30px;

}
.alert_box_sub_btn{
	outline:none;
	border:none;
	border:0;
	width:50px;
	height:26px;
	cursor:pointer;
	border-radius:2px;
	background-color:#0CC39F;
	text-align:center;
	line-height:26px;
	color:#fff;
	margin:0 3px;
}

/***** 北京赛车  北京pk拾  车的颜色  start *********/
.PKDM_box .table_td_no_right_bottom{
	width:45px;
}
.PKDM_box .midAWtwo_row_childhead_1,.PKDM_box .midAWtwo_row_childhead_2,.PKDM_box .midAWtwo_row_childhead_3,.PKDM_box .midAWtwo_row_childhead_4,.PKDM_box .midAWtwo_row_childhead_5,.PKDM_box .midAWtwo_row_childhead_6,.PKDM_box .midAWtwo_row_childhead_7,.PKDM_box .midAWtwo_row_childhead_8,.PKDM_box .midAWtwo_row_childhead_9,.PKDM_box .midAWtwo_row_childhead_10{
	font-size:16px;
	color:#262626;
	font-weight:600;
	font-style:italic;
}

.PKDM_box .midAWtwo_row_childhead_1, .bjpks_car_01.titleLv{
	background-color:#FF0;
	border-top:1px solid #ccc;
}
.PKDM_box .midAWtwo_row_childhead_2, .bjpks_car_02.titleLv{
	background-color:#0089FF;
}
.PKDM_box .midAWtwo_row_childhead_3, .bjpks_car_03.titleLv{
	background-color:#4C4C4C;
}
.PKDM_box .midAWtwo_row_childhead_4, .bjpks_car_04.titleLv{
	background-color:#FF7200;
}
.PKDM_box .midAWtwo_row_childhead_5, .bjpks_car_05.titleLv{
	background-color:#81FFFF;
}
.PKDM_box .midAWtwo_row_childhead_6, .bjpks_car_06.titleLv{
	background-color:#5200FF;
}
.PKDM_box .midAWtwo_row_childhead_7, .bjpks_car_07.titleLv{
	background-color:#E3E3E3;
}
.PKDM_box .midAWtwo_row_childhead_8, .bjpks_car_08.titleLv{
	background-color:#FF0000;
}
.PKDM_box .midAWtwo_row_childhead_9, .bjpks_car_09.titleLv{
	background-color:#760000;
}
.PKDM_box .midAWtwo_row_childhead_10, .bjpks_car_10.titleLv{
	background-color:#28C300;
}
.bjpks_car_01.titleLv{
	border-top:none;
}

.PKQE_box .titleLv,.PKQS_box .titleLv,.PKQSI_box .titleLv{
	background-image: none;
    font-size: 15px;
    color: #000;
    font-style: italic;
    font-weight: bold;
	border-radius:50%;
}
.PKQE_box .titleHui,.PKQS_box .titleHui,.PKQSI_box .titleHui{
	opacity:0.3;
	filter:alpha(opacity=30);
}

/***** 北京赛车  北京pk拾  车的颜色  end *********/


.confirm_bet_info_box{
	padding-top:20px;
}

.load{
	position:fixed;
	top:50%;
	left:50%;
	width:200px;
	height:150px;
	border-radius:3px;
	margin-left:-100px;
	margin-top:-75px;
	background-color:#F2F2F2;
	z-index:51;
	text-align:center;
}
.load img{
	margin-top:30px;
}

/*****frame_06 生肖 名称   frame_08生肖 名称    start*******/
.frame_06_sx_name,.frame_08_sx_name{
	width:35px;
	height:30px;
	text-align:center;
	line-height:30px;
	font-size:16px;
	background-color:#E64241;
	color:#fff;
}
/*****frame_06 生肖 名称  frame_08 生肖 名称      end*******/


/**** frame_01 中的色波   色波 特别号半色波 特别号半半色波 七色波 背景色  start**********/
.LHTBHSBho, .LHQSBho, .LHTBHBBhddan,.LHTBHBBhds,.LHTBHBBhxdan,.LHTBHBBhxs, .LHTBHBDXhd,.LHTBHBDXhx,.LHTBHBDShdan,.LHTBHBDShs{
	background-color:#E64241;
	color:#fff;
	font-size:15px;
}
.LHTBHSBla, .LHQSBla, .LHTBHBBlddan,.LHTBHBBlds,.LHTBHBBlxdan,.LHTBHBBlxs, .LHTBHBDXld,.LHTBHBDXlx,.LHTBHBDSldan,.LHTBHBDSls{
	background-color:#609EE9;
	color:#fff;
	font-size:15px;
}
.LHTBHSBv, .LHQSBv, .LHTBHBBvddan,.LHTBHBBvds,.LHTBHBBvxdan,.LHTBHBBvxs, .LHTBHBDXvd,.LHTBHBDXvx,.LHTBHBDSvdan,.LHTBHBDSvs{
	background-color:#0DC4A0;
	color:#fff;
	font-size:15px;
}
.LHQSBhe{
	font-size:15px;
}
/**** frame_01 中的色波   色波 特别号半色波 特别号半半色波 七色波 背景色  end**********/


/*******  frame_05  start  ************/

/* lhc 自选不中*/
.LHZXBZ_box .frame_05_number_box,.LHLM_box .frame_05_number_box{
	width:530px;

}
.frame_05_number_box_sub{
	margin-right:1px;
	margin-top:1px;
	padding-left:4px;
	background-color:#ccc;
	cursor:pointer;
}
.LHZXBZ_checkbox,.LHLM_checkbox{
	margin-top:8px;
	width:16px;
	height:16px;
	
	background-image:url(../images2/lottery-cion2.png);
	background-position:-214px -53px;
}
.frame_05_checked_bg{
	background-image:url(../images2/lottery-cion2.png);
	background-position:-214px -75px;
}
.LHZXBZ_combination,.LHLM_combination,.KBBJKLXH_combination{
	margin-left:10px;
	width:200px;
	max-height:250px;
	overflow:auto;
}
.LHLM_combination_dt{
	max-height:400px;
	overflow:auto;
	width:200px;
	margin-left:8px;
	padding-right:2px;
}
.combination_header{margin-bottom:10px;}

.LHLM_box .midTWord_outer{
	padding:0;
}
.LHLM_box .frame_05_box_title{
	height:20px;
	line-height:20px;
}
.frame_05_box_title label{
	margin-right:15px;
	cursor:pointer;
}
.frame_05_number_box_sub.opacity{
	opacity:0.3;
	filter:alpha(opacity=30);
}
.KBBJKLXH_box .frame_05_box{
	width:330px;
}

/*******  frame_05  end  ************/

.odds_pl{
	font-weight:600;
}
.odds_pl.checked{
	color:#0DC2A6;
}
.k3_content_module02 .odds_pl{
	cursor:pointer;
}
.k3_content_module02 .odds_pl:hover{
	color:#0DC2A6;
}
.frame_01_table_odds {
	margin-left:10px;
}
.EZHSDS_box .frame_01_table_odds,.EZHSWSDX_box .frame_01_table_odds,.EZHSWSZH_box .frame_01_table_odds{
	margin-left:15px;
}
.EZHSDS_box .midAWtwo_row_childAsh,.EZHSWSDX_box .midAWtwo_row_childAsh,.EZHSWSZH_box .midAWtwo_row_childAsh{
	margin-right:15px;
}
.YWDMSM_box .frame_01_table_odds{
	margin-left:30px;
}
.YWDMSM_box .midAWtwo_row_childAsh{
	margin-right:30px;
}



/**** 右侧快捷投注 start **************/
.quick_bet_box{
	background-color:#D4D4D4;
}
.quick_bet_sub_item{
	height:30px;
	line-height:30px;

}
.right_quick_bet_sub .sx,.right_quick_bet_sub .ts,.right_quick_bet_sub .color_la{
	background-color:#f8f8f8;
}
.quick_bet_sub_item li{
	margin-right:1px;
	font-size:12px;
	cursor:pointer;
	color:#686868;
	padding:0 5px;
	font-family:"sans-serif";
}
.quick_bet_sub_item li:hover{
	background-color:#C5C5C5;
}
.color_ho li{
	color:#B21C1C;
}
.color_la  li{
	color:#17169C;
}
.color_v  li{
	color:#279228;
}

.right_quick_bet_bottom{
	margin-top:5px;
	margin-left:5px;
}
.right_quick_bet_bottom_sub>div{
	margin:5px;
	color:#000;
	font-size:14px;
}
.right_quick_bet_bottom_sub input[type=text]{
	border:0;
	outline:none;
	border:1px solid #aaa;
	width:45px;
	padding:0 4px;
	font-size:13px;
	height:22px;
}
.right_quick_bet_bottom input[type=button]{
	
	border: 0;
    outline: 0;
    margin:3px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
    width:60px;
	height:25px;
}
.right_quick_bet_sure{
	background-color: #FFAB00;
    color: #563901;
}
.right_quick_bet_empty{
	background-color: #5A5A5A;
    color: #B3B3B3;
}
.quick_bet_sub_item li.right_quick_bet_li_checked{
	background-color:#FFAB00;
	color:#fff;
}
.right_quick_bet_checked{
	background-color:#F7E1B5;
}
.right_quick_bet_content_sub {
	padding:0 5px;
}
.right_quick_bet_item{
	background-color: #f8f8f8;
    margin-bottom: 2px;
    padding: 5px 10px;
}
/******** 右侧快捷投注 end *************/