.main-width{
    width: 1000px;
    border: 1px solid #d2d2d2;
    margin: 30px auto;
    border-collapse:collapse;
}
.main-width .menu-list{
    border-bottom: 1px solid #d2d2d2;
    border-collapse:collapse;
}
.main-width .menu-list li{
    width: 499px;
    border-right: 1px solid #d2d2d2;
    line-height: 32px;
    text-align: center;
    float: left;
    background: #e4e4e4;
    font-weight: bold;
    color: #353535;
    font-size:13px;
}
.main-width .menu-list li:nth-last-child(1){
    border-right: 0;
}
.main-width .menu-list li.active{
    color:#e18700;
    background: #f5f0e8;
}
.main-width .menu-list li:hover{
    cursor: pointer;
}
.main-width .main-content{
    font-size:13px;
    color:#666666;
    border-collapse:collapse;
    border:none;
    text-align: center;
}
.main-width .main-content th{
    color:#343434;
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.main-width .main-content td{
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.main-width .main-content td samp,.main-width .main-content th samp{
    color: #e50000;
}