@charset "utf-8";
/***此文件为 体育 颜色为 蓝色 时样式****/

/***顶部公共样式颜色 ****/
.top_box_border_bottom_color{  /** 顶部导航条下边框颜色   ****/
	border-bottom:1px solid #74B2B0;
}

.login_alert_info_bg{
	background-color: rgba(96,158,233,0.9);
	color:#fff;
}
.windowBox_titleBox .title_text_color{
	color:#FCA322;
}
#joinForm,#getPasswordForm{
	background-color:#74B2B0;
}
.lang_choose_sub li:hover{
	color:#FCA322;
}
.top .login_box .userLink a:hover{
	color:#FCA322;
}



/***左侧颜色***/
.left_change_box>div.active{
	color:#FCA322;
}
.itemUl li.itemUl_li_active span{
	color:#FCA322;
}
.itemUl li:hover span{
	color:#FCA322;
}
ul.page_left_content li label:hover span{
	color:#FCA322;
}
.odds:hover{
	background-color:#6B7E7F;
	color:#fff;
}
.lx_scClass{
	background-position:-42px -156px;
}
.scClass{
	background-position:-42px -132px;
}

table tr td span.beting {
    background-color: #6B7E7F;
    color: #fff;
}
.lx{
	background-color:#6a7d7c;
}