@charset "utf-8";
html,body,div,p,b,span,i,em,img,input,button,ul,li,ol,dt,dl,dd,table,tr,td,th{margin:0;padding:0;}
ul,li,ol{list-style:none;}
body{font-size:13px;font-family:"Microsoft YaHei",Arial,verdna;}
table{width:100%;border-collapse:collapse;table-layout:fixed;}
.clearfix:after{content:'';display:table;clear:both;}
.main-width{
    width: 1000px;
    border: 1px solid #000000;
    margin: 5px auto;
    background: #FFFFFF;
    padding: 5px;
}
/***********主体左边***************/
.main-width .main-left{
    width:186px;
    background: #f1f1f1;
    border: 1px solid #d7d7d7;
    color: #3e3e3e;
}
#itemBox .itemTitle{height:26px;line-height:26px;font-size:14px;margin:0px 1px;cursor:pointer;color:#FFFFFF;text-indent:4px;border-bottom:1px solid #ddd;}
#itemBox .liveImg{ margin:5px;float:left;}
#itemBox ul{margin:0px;padding-left:0px;color:#FFFFFF;list-style: none;display:none;}
#itemBox li{color:#222;cursor:pointer;line-height:29px;height:29px;border-bottom:1px dotted #ddd;width:100%;}
#itemBox li>div.left{margin-left:30px;}
#itemBox li:hover div{color:#c40000;}
#itemBox li .playName{ float:left; }
#itemBox li .eventNum{padding-right:5px;float:right;text-align:right;}
#itemBox .currentLi{color:#FFF; background-color:#DA9800;}
/***********主体右边***************/
.main-width .main-right{
    margin-left: 3px;
    width: 620px;
}
.main-width .main-right .right-top{
    border: 1px solid #d1d1d1;
    line-height: 30px;
    padding: 0 7px;
}
.main-width .main-right .right-top .right select{
    border:1px solid #ebe2d9;
    color :#636363;
    padding-top: 1px;
    padding-bottom: 1px;
	margin-left:4px;
	margin-right:4px;
}
.main-width .main-right .right-top .right select option{
    color :#636363;
}
.main-width .main-right .right-content{
    margin-top: 5px;
	position:relative;
}
#shuaXin{
	border:none;
	outline:none;
	width:60px;
	height:25px;
	color:#fff;
	font-size:14px;
	background-color:#b26a00;
	margin:4px;
	cursor:pointer;
}
#shuaXin:hover{
	background-color:#DA9800;
}

#tableTitle table tbody tr td{
    line-height: 30px;
    font-size: 13px;
    color:#ffffff;
    background: #683f00;
    border: 1px solid #533200;
	font-size:15px;
	font-weight:normal;
}
.main-width .main-right .right-content table thead tr th:nth-child(1){
    text-align: left;
}
.main-width .main-right .right-content table tr td{
    text-align: center;
    border: 1px solid #d7d7d7;
	padding-top:2px;
	padding-bottom:2px;
}
.main-width .main-right .right-content table tr td p{
	margin:3px 0;
}
#tableContent .lxBox {
	height:30px;
	line-height:30px;
	background-color:#F9EDE1;
	border-top:1px solid #F9EDE1;
	border-bottom:1px solid #F9EDE1;
}
.lxBox span{color:#c40000;font-size:13px;}
.lxBox span.left{text-indent:6px;}
.lxBox img{margin-top:4px;cursor:pointer;margin-right:5px;}
.main-width .main-right .right-content .position{
    min-width: 600px;
    min-height: auto;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -300px;
    background: #ffffff;
    border: 2px solid #4a2d00;
	display:none;
}

#tableContent table tr td.hasClick p{cursor:pointer;}
#tableContent .rangqiudaxiao p{text-align:right;}
#tableContent .rangqiudaxiao .pankou{margin-right:10px;color: #6C3600;font-weight:bold;}
#tableContent .rangqiudaxiao .peilv{margin-right:10px;}
#tableContent table .banChang{float:right;color:#ccc;}


.zhezhao{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.3;
	filter:Alpha(opacity=50);
	display:none;
	z-index:30;
}
#moreBox {
    position: fixed;
    display: none;
    width: 620px;
    color: #222;
	right:0;
	left:0;
	margin:auto;
	background-color:#ccc;
	z-index:33;
	top:300px;
}
/****点击更多玩法时出现****/
#moreBox .morePlayTitle{
	height:30px;
	background-color:#EE9D00;
	line-height:30px;
	font-size:14px;
	color:#fff;
	text-align:center;
}
.closeMorePlay{
	width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(./public/ico01.png);
	background-position:0px -910px;
    background-repeat: no-repeat;
	float:right;
	margin-right:6px;
	margin-top:5px;
}
#moreBox table tr td{border:1px solid #fff;}
#moreBox table thead tr th{
	font-size:16px;
	height:25px;
	text-indent:5px;
}
/****id=rightFixedDiv****/
#rightFixedDiv{
	width:185px;
	margin-left:2px;
	border:1px solid #ddd;
	float:left;
}
.rightListTitle{
	font-size:15px;
	color:#ccc;
}
.rightListTitle div{
	width:92px;
	border-bottom:1px solid #ddd;
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
	cursor:pointer;
}
.rightListTitle>div.active{
	border-bottom:1px solid transparent;
}
.nowList{border-right:1px solid #ddd;}
.rightListContent{
	min-height:200px;
	margin-top:10px;
	color:black;
	font-size:14px;
}

#betTitle{
	color: #555;
    line-height: 25px;
	font-size:14px;
	border-bottom:1px solid #ddd;
	text-indent:5px;
}
#betLx{
	line-height:20px;
	font-size:13px;
}
#betGname{
	text-align:center;
	font-size:12px;
}
#betObj{
	background-color:#131313;
	text-align:center;
	padding:6px 0;
	margin:3px 0;
	font-size:12px;
	color:#fff;
}
.betPlBox{
	font-size:13px;
	color:#F9B718;	
}
#betMoney,#betMoneyGG{
	height: 15px;
    width: 80px;
	padding:0;
	margin:0;
    color: #222222;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
}
#btBox{
	text-align:center;
}
#btBox input{
	width:60px;
	height:26px;
	background-repeat:no-repeat;
	margin-right:3px;
	margin-left:3px;
	cursor:pointer;
	border:none;
	outline:none;
	cursor:pointer;
}
.butontj{
	background-image:url(../images2/alert_btn_true.png);
	color:#fff;
}
.butonFh{
	background-image:url(../images2/alert_btn_false.png);
	color:#6D6D6D;
}

#orderForm>div{
	margin: 6px 0;
    font-size: 13px;
    color: #9F9F9F;
    margin-left: 3px;
}

#confirm{
	background: #fff;
    z-index: 36;
    display:none;
    color: #000000;
    position: absolute;
    border: 2px solid #999999;
	margin:auto;
	left:0;
	top:0;
	right:0;
	bottom:0;
	text-align:center;
	width:250px;
	height:150px;
}
#confirm p{
	margin:3px 0;
	font-size:14px;
	color:black;
	font-size:14px;
}
#confirm input,#formListBtn input{
	width:60px;
	height:25px;
	outline:none;
	border:none;
	color:#fff;
	font-size:14px;
	background-color:#b26a00;
	margin:4px;
	cursor:pointer;
}
.closeconfirm{
	width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(./public/ico01.png);
    background-position: 0px -910px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 6px;
    margin-top: 2px;
}
.confirmTitle{
	height: 25px;
    background-color: #EE9D00;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.confirmContent{
	font-size:15px;
	color:black;
}
.confirmContent .success strong{
	color:#4ECB25;	
}
.confirmContent .text strong{
	color:#C83436;	
}

/***过关点击投注时右侧生成的样式**/
.gameEventBox{
	background-color:#9A9A9A;
	padding:5px 0;
	border-bottom:1px solid #ccc;
}
.ggsubTitle{font-size:14px;text-align:center;}
.betObjBox{font-size:14px;margin:5px 0;text-align:center;}
.ggsubTitle .title1{font-size:14px;font-weight:bold;}
.closeGGsub{
	width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(./public/ico01.png);
    background-position: 0px -910px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 3px;
    margin-top: 1px;
}




/**提示框 alerts ****/
.no_login,.money_range,.bet_num_range,.status_error{ /**弹出 没有登录,进行投注在进行登录按钮 **/
	font-size:13px;
	color:#DA0000;
	text-align:center;
	margin:0 auto;
	padding-top:50px;
}