@charset "utf-8";
/***此文件为 体育 颜色为 绿色 时样式****/

/***顶部公共样式颜色 ****/
.top_box_border_bottom_color{  /** 顶部导航条下边框颜色   ****/
	border-bottom:1px solid #0ec39f;
}



.login_alert_info_bg{
	background-color: rgba(68,196,139,0.9);
	color:#fff;
}
.windowBox_titleBox .title_text_color{
	color:#0bc29f;
}
#joinForm,#getPasswordForm{
	background-color:#44C48B;
}
#joinForm:hover,#getPasswordForm:hover{
	background-color:#41B480;
}
.lang_choose_sub li:hover{
	color:#0bc29f;
}
.top .login_box .userLink a:hover{
	color:#0bc29f;
}


/***左侧颜色***/
.left_change_box>div.active{
	color:#0dc29f;
}
.itemUl li.itemUl_li_active span{
	color:#0dc29f;
}
.itemUl li:hover span{
	color:#0dc29f;
}
ul.page_left_content li label:hover span{
	color:#0dc29f;
}

.odds:hover{
	background-color:#0bc29f;
	color:#fff;
}
.lx{
	background-color:#2B2B2B;
}
.lx_scClass{
	background-position:-42px -156px;
}
.scClass{
	background-position:-47px -252px;
}
.more_play_content{
	border-color:#0bc29f;
}
table tr td span.beting {
    background-color: #0bc29f;
    color: #fff;
}