@charset "utf-8";
/***此文件为 体育 颜色为 蓝色 时样式****/

/***顶部公共样式颜色 ****/
.top_box_border_bottom_color{  /** 顶部导航条下边框颜色   ****/
	border-bottom:1px solid #889BAE;
}

.login_alert_info_bg{
	background-color: rgba(96,111,142,0.9);
	color:#fff;
}
.windowBox_titleBox .title_text_color{
	color:#FDA123;
}
#joinForm,#getPasswordForm{
	background-color:#FDA123;
}
#joinForm:hover,#getPasswordForm:hover{
	background-color:#3879D9;
}
.lang_choose_sub li:hover{
	color:#FDA123;
}
.top .login_box .userLink a:hover{
	color:#FDA123;
}


/***左侧颜色***/
.left_change_box>div.active{
	color:#fda123;
}
.itemUl li.itemUl_li_active span{
	color:#fda123;
}
.itemUl li:hover span{
	color:#fda123;
}
ul.page_left_content li label:hover span{
	color:#fda123;
}
.odds:hover{
	background-color:#5d6165;
	color:#fff;
}

.lx_scClass{
	background-position:-42px -156px;
}
.scClass{
	background-position:-47px -296px;
}

table tr td span.beting {
    background-color: #5d6165;
    color: #fff;
}
.lx{
	background-color:#5d6165;
}
