@charset "utf-8";
/*************** 全局  ***************************/
*{
    margin:0 auto;
    color:#000;
    font-family:"Microsoft YaHei",Verdana,Arial;
}
body,input,div,p,b,button,img, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, tr,th, td{
    margin:0;
    padding:0;
    font-size: 12px;
}
body{
    width:100%;
    background:url(../images2/watt.png);
}
ul,ol,li {
    list-style-type:none;
}
img{border:0 none;}
a{text-decoration:none;}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
table{
    width: 100%;
    collapse: 0;
    border-collapse:collapse;
    border-spacing:0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.border{
    border: 1px solid #d2dcf8;
}
.active{
    color: #b26a00;
}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
/*********************  头部  ****************************/
.top .logo-bg{
    height: 45px;
    background-color:#131313;
}
.top .logo-bg .logo-width{
    width: 1000px;
    height: 45px;
    margin: 0 auto;
}
.top .logo-bg .logo-width .logo{
    float:left;
    height:45px;
    line-height:45px;
}
.top .logo-bg .logo-width .logo img{
    margin-left: 10px;
    vertical-align:middle;
}
.top .logo-bg .logo-width .login{
    float: right;
    height: 45px;
    line-height: 45px;
}
.top .logo-bg .logo-width .login li{
    width: 180px;
    height: 23px;
    margin-top: 10px;
    background: #353535;
    border: 1px solid #414040;
    line-height: 23px;
    margin-left: 15px;
    float: left;
}
.top .logo-bg .logo-width .login li div{
    float: left;
}
.top .logo-bg .logo-width .login li div.center input{
    height: 23px;
    background: #353535;
    border: 0;
    margin: 0;
	font-size:13px;
	color:#fff;
	line-height:23px;
	text-indent:3px;
}
.top .logo-bg .logo-width .login li .left img{
    margin: 4px 8px 0 4px;
}
.top .logo-bg .logo-width .login li.login-user .center input{
    width: 151px;
}
.top .logo-bg .logo-width .login li.login-pws .center input{
    width: 103px;
}
.top .logo-bg .logo-width .login li.login-pws .right{
    width: 30px;
    height: 23px;
    background: #000000;
    color:#8d8d8d;
    padding: 0 10px;
	cursor:pointer;
}
.top .logo-bg .logo-width .login li.login-verification-input{
    width: 100px;
}
.top .logo-bg .logo-width .login li.login-verification-input input{
    width: 100%;
    height: 23px;
    background: #353535;
    border: 0;
    margin: 0;
	font-size:13px;
	color:#fff;
	line-height:23px;
	text-indent:3px;
}
.top .logo-bg .logo-width .login li.login-verification-img{
    width: 60px;
}
.top .logo-bg .logo-width .login li.login-verification-img img{
    width: 60px;
    height: 23px;
	cursor:pointer;
}
.top .logo-bg .logo-width .login li.button{
    width: 50px; 
}
.top .logo-bg .logo-width .login li button{
	width:100%;
	height:100%;
	cursor:pointer;
	line-height:100%;
}
.top .logo-bg .logo-width .login li button:hover{
    color:#ea9600;   
}
.top .menu-bg{
    background: #FFFFFF;
    height: 47px;
}
.top .menu-bg ul{
    width: 1000px;
    margin: 0 auto;
}
.top .menu-bg ul li{
    text-align: center;
    float:left;
    width: 125px;
    line-height: 47px;
    font-size: 14px;
    background: url(../images2/yule_21_03.png) right no-repeat;
}
.top .menu-bg ul li:nth-last-child(1){
    background: none;
}
.top .menu-bg ul li:hover a,.top .menu-bg ul li.active a{
    cursor: pointer;
    color: #b26a00;
}
.top .menu-bg ul li a span{
    padding-left: 6px;
}
.top .loginBox{
	float:right;
}
.top .loginBox .userLink{
	height:45px;
	line-height:45px;
}
.top .loginBox .userLink span,.top .loginBox .userLink a,.top .loginBox .userLink a span b{
	color:#ccc;
	font-size:14px;
}
.top .loginBox .userLink a{
	margin:0 5px;
}
.top .loginBox .userLink a:hover{
	color:#FB9A00;
	
}
/**遮罩层**/
#alertOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    opacity: 0.80;
    z-index: 500;
	display:none;
}
/**注册**/

.windowBox{ position:fixed; top:50%; left:50%; margin-left:-395px; margin-top: -227px; width:791px; height:454px; background:#999; z-index:100001; display:none; background:url(./public/w_bg.png)}
.windowBox .titleBox{ margin-left:60px; margin-top:35px; color:#E88D00; font-size:22px; font-weight:bold; line-height:40px;}
.windowBox .closeBox{ float:right; background:url(./public/ico01.png) 0px -910px; width:20px; height:20px; margin-right:40px; cursor:pointer }
.windowBox .infoBox{ margin-left:30px; width:700px; padding-left:30px; padding-bottom:10px;color:#666;border-bottom: 1px dashed #ccc;}
.windowBox .joinTable{ width:650px; border:0px; margin-left:80px; margin-top:10px; }
.windowBox .joinTable .titleTD{ text-align:right; color:#333; font-size:14px; padding-right:8px; width:120px; height:40px}
.windowBox .joinTable .inputTD{width:250px}
.windowBox .joinTable .msgTD{width:280px}
.windowBox .joinTable input{ width:250px; height:18px; border:1px solid #bdc6ca; border-radius:2px; font-size:14px; line-height:18px; padding:9px 5px; color:#555}
.windowBox .joinTable #join_loginCode, .windowBox .joinTable #gpw_loginCode{ width:120px}

.windowBox .joinTable .info0{ color:#666; padding-left:16px; background:url(./public/ico01.png) -45px -746px no-repeat; line-height:16px;}
.windowBox .joinTable .info1{ color:#AA0000; padding-left:16px; background:url(./public/ico01.png) -60px -746px no-repeat; line-height:16px;}
.windowBox .joinTable .joinBtn:hover{width:93px; height:28px; background:url(./public/ico01.png) 0px -586px no-repeat;}
.windowBox .joinTable img{ vertical-align:middle; margin-left:10px;cursor:pointer;}
.windowBox a{ color:#E88D00}
.windowBox a:hover{ color:#E88D00}
/*按钮*/
button{border-style:none; cursor:pointer}
.mainBtn01{ width:93px; height:28px; background:url(./public/ico01.png) -98px -586px no-repeat; color:#EEE; }
.mainBtn01:hover{width:93px; height:28px; background:url(./public/ico01.png) 0px -586px no-repeat; color:#FFF;}




/**提示框 alerts ****/
.zhezhao{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.3;
	filter:Alpha(opacity=50);
	display:none;
	z-index:30;
}
.alerts{
	position:fixed;
	width:300px;
	height:250px;
	background-color:#fff;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-125px;
	border:1px solid #B47E18;
	display:none;
	z-index:33;
}
.alert_sub_header{
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:#DA9800;
	color:#fff;
}
.alert_sub_content{
	height:180px;
	width:100%;
}
.close_alert_sub{
	float: right;
    background: url(./public/ico01.png) 0px -910px;
    width: 20px;
    height: 20px;
    margin-right: 6px;
	margin-top:5px;
    cursor: pointer;
}
.alert_sub_btn{
	height:40px;
	width:100%;
	line-height:40px;
	background-color:#f2f2f2;
	text-align:center;
}
.alert_btn_true,.alert_btn_false{
	width:60px;
	height:26px;
	background-repeat:no-repeat;
	margin-right:6px;
	margin-left:6px;
	cursor:pointer;
	border:none;
	outline:none;
	margin-top:7px;
}

.alert_btn_true{
	background-image:url(../images2/alert_btn_true.png);
	color:#fff;
	
}
.alert_btn_false{
	background-image:url(../images2/alert_btn_false.png);
	color:#6D6D6D;
}
/******/

.no_login,.money_range,.bet_num_range,.status_error,.login_error_info,.system_rest{ /**点击登录按钮 弹出的错误信息样式**/
	font-size: 14px;
    color: #DA0000;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;

}
