*{margin: 0; padding: 0;}
li{list-style-type:none;}
a{text-decoration:none;}
table{width: 100%;}
.active{color: #b26a00;}
.right{float: right}
.left{float: left}
.clearfix:after{
    content:'';
    display:table;
    clear:both;
}
.top{
    width: 100%;
    background: #FFFFFF;
}
.top .logo-bg{
    width: 100%;
    background: #131313;
    border-bottom: 1px solid #000000;
}
.top .logo-bg .logo-width{
    width: 1000px;
    height: 45px;
    margin: 0 auto;
}
.top .logo-bg .logo-width .logo{
    float:left;
    height:45px;
    line-height:45px;
}
.top .logo-bg .logo-width .logo img{
    margin-left: 10px;
    vertical-align:middle;
}
.top .logo-bg .logo-width .login{
    float: right;
}
.top .logo-bg .logo-width .login li{
    width: 90px;
    float: left;
    color: #989898;
    line-height: 45px;
    font-size:12px;
    text-align: center;
}
.top .menu-bg{
    width: 100%;
    background: #353535;
    border-top: 1px solid #4b4b4b;
    border-bottom: 3px solid #e18700;
}
.top .menu-bg ul{
    width: 1000px;
    margin: 0 auto;
}
.top .menu-bg ul li{
    float: left;
    width: 109px;
    border-left: 1px solid #4b4b4b;
    border-right: 1px solid #000000;
    text-align: center;
    line-height: 45px;
}
.top .menu-bg ul li:nth-child(1){
    border-left: 0px;
}
.top .menu-bg ul li:nth-last-child(1){
    border-right: 0px;
}
.top .menu-bg ul li a{
    color: #989898;
    font-size: 15px;
}
.top .menu-bg ul li.active, .top .menu-bg ul li:hover{
    background: #e18700;
    cursor: pointer;
}
.top .menu-bg ul li.active a, .top .menu-bg ul li:hover a{
    color: #FFFFFF;
}
.main-bg{
    width: 100%;
    background: #FFFFFF;
}







